/* Jordan */

#iDB-preview {
  background-color: lightgreen;
  color: darkmagenta;
  margin-top: 20px;
  padding: 10px;
  max-width: 68%;
}













/* Jordan */

/* <!-- Charity --> */

.title {
  text-align: center;
  font-size: 45px;
  text-emphasis: bold;  
}

#footer {
  border: 20%;
  border-color: black;
}





















/* Charity   */

/* Jason */



























/* jason */


/* priyesh */
.outline {
  border-style: solid;
  border-width: 6px;
 
}






























