/* <!-- Jordan-->



























/* <!-- Jordan--> */

/* <!-- Charity --> */

.title {
  text-align: center;
  font-size: 45px;
  text-emphasis: bold;  
}

#footer {
  border: 20%;
  border-color: black;
}
























<!-- Charity -->

<!-- Jason -->



























<!-- Jason -->

<!-- priyesh -->
 */































/* <!-- priyesh --> */
